package {{$packageName}};

{{for importedClass : $importedClasses}}
import {{$importedClass}};
{{end}}

/**
 * Transition.
 *
 * <p>This class was generated automatically. Don't try to change it.
 */
{{$generatedAnnotation}}
@FunctionalInterface
@Transition("{{$tid}}")
public interface {{$classSimpleName}}{{$classTypeParams}} {

  {{$methodSignature}};
}
